* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    color: cornflowerblue;
}

.header{
    background:rgba(0, 0, 0, 0.7);
}

button {
    background-color: rgba(248, 224, 6, 0.8);
    padding: 10px 20px;
    border-color: black;
    border-width: 0.2px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    border-color: black;
    border-width: 0.2px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #FFD611;
    opacity: 0.9;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 24px;
}

.link {
    font-size: 17px;
    letter-spacing: 0.02rem;
    color: black;
    font-family: "Sawarabi Mincho", sans-serif;
}

.link:hover{
    text-decoration: underline;
}

.home-btn > a > img {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 18px;
    right: 2%;
}

.home-btn > a > img:hover {
    opacity: 0.5;
}

.content {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    position: absolute;
    top: 25%;
    right: 2%;
}

.headline {
    font-size: 28px;
    color: white;
    border-color: black;
    border-width: 0.5px;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Cinzel", serif;
}

p {
    font-size: 17px;
    color: white;
    padding: 12px 18px 12px 18px;
    letter-spacing: 0.05rem;
    font-family: "Sawarabi Mincho", sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 22px;
    color: white;
    padding: 48px 18px 24px 18px;
    letter-spacing: 0.1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Cinzel", serif;
}
h3 {
    font-size: 20px;
    color: white;
    padding: 24px 18px 24px 18px;
    letter-spacing: 0.1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Cinzel", serif;
}

p span {
    font-style: italic;
}

.title {
    color: white;
    font-style: italic;
}
.title:link {
    text-decoration: none;
}
.title:visited {
    text-decoration: none;
}
.title:hover {
    text-decoration: underline;
}

figure {
    text-align: center;
}

figure > img {
    width: 50%;
    height: 25%;
    margin: 2%;
}

.headline-frontpage {
    font-size: 22px;
    text-align: center;
    color: white;
    padding: 48px 18px 24px 18px;
    letter-spacing: 0.1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Cinzel", serif;
}



@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .content {
        position: relative;
        margin: 10% 20%;
        width: 80%;
        height: 100%;
        right: 8%;
    }
    .headline {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    .headline-frontpage {
        font-size: 18px;
    }
}



@media only screen and (max-width: 800px) {
    .menu {
        position: fixed;
        left: -100%;
        top: 10%;
        flex-direction: column;
        background:rgba(0, 0, 0, 0.8);
        width: 150px;
        align-items: flex-start;
        z-index: 10;
    }
    button {
        margin-left: 5%;
        text-align: left;
        background: none;
        padding: 5% 8px;
        border-color: none;
        border-width: 0;
        border-radius: 0;
    }
    .link {
        color: #FFD611;
    }
    .menu.active {
        left: 0;
    }
    .item {
        margin: 5%;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger:hover {
        opacity: 0.5;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .content {
        position: relative;
        margin: 10% 20%;
        width: 80%;
        height: 100%;
        right: 8%;
    }
    .headline {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    .headline-frontpage {
        font-size: 16px;
    }
    .home-btn > a > img {
        width: 50px;
        height: 40px;
    }
}


