*{
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
}

.header > audio {
    margin: 12px;
    width: 300px;
    height: 32px;
}

.header > p {
    font-size: 18px;
    color: white;
    margin: 12px;
    text-align: center;
    letter-spacing: 0.08rem;
    font-family: "Marcellus", serif;
}

.city {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    overflow: hidden;
    margin: 5% 5% 20%;
}

.city > img {
    height: 17%;
    width: 17%;
    padding: 2%;
}

h1 {
    margin-top: 10%;
    font-size: 64px;
    color: white;
    text-align: center;
    letter-spacing: 0.08rem;
    font-family: "Arima Madurai", serif;
}

.text {
    padding: 24px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: center;
    letter-spacing: 0.08rem;
    font-family: "Marcellus", serif;
}

.text > p {
    margin-bottom: 18px;
}

.text > p > span {
    font-weight: bold;
    font-style: italic;
}

.airplane {
    text-align: center;
    margin-top: -350px;
    margin-bottom: -100px;
}

.airplane > img {
    height: 10%;
    width: 30%;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 1024px) {
    .text {
        font-size: 14px;
    }   
    h1 {
        font-size: 48px;
    } 
    .header > p {
        font-size: 16px;
    }
    .header > audio {
        margin: 12px;
        width: 250px;
        height: 28px;
    }
    .city {
        margin-bottom: 100px;
    }
    .airplane {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 10px;
    } 
    h1 {
        font-size: 32px;
    }   
    .header > p {
        font-size: 12px;
    }
    .header > audio {
        margin: 12px;
        width: 200px;
        height: 24px;
    }
    .airplane {
        display: none;
    }
}